Source: deepin-notifications
Section: misc
Priority: extra
Maintainer: Li Longyu (Ai Kotoba) <leaeasy@gmail.com>
Build-Depends: debhelper (>= 9),
               qt5-default, qtdeclarative5-dev
Standards-Version: 3.9.5
Homepage: http://www.linuxdeepin.com

Package: deepin-notifications
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: system notifications for linuxdeepin desktop environment
 Deepin notification is a notfiy app for linuxdeepin new desktop environment.
